{{#isListContainer}}{{#hasParams}}, {{/hasParams}}@QuerydslPredicate(root = {{queryDslPredicateRootClass}}{{#isOverrideQueryDslPredicateRootClass}}{{returnType}}{{/isOverrideQueryDslPredicateRootClass}}.class{{#isQueryDslBinding}}, bindings = {{queryDslBindingClass}}.class{{/isQueryDslBinding}}) Predicate predicate, Pageable pageable, Sort sortable, Principal principal{{/isListContainer}}{{^isListContainer}}{{#hasParams}}, {{/hasParams}}Principal principal{{/isListContainer}}