{{#isListContainer}}{{#hasParams}}, {{/hasParams}}@QuerydslPredicate(root = {{queryDslPredicateRootClass}}.class{{#isQueryDslBinding}}, bindings = {{queryDslBindingClass}}.class{{/isQueryDslBinding}}) Predicate predicate, Pageable pageable, Sort sortable, @RequestHeader HttpHeaders headers, Principal principal{{/isListContainer}}{{^isListContainer}}{{#hasParams}}, {{/hasParams}}@RequestHeader HttpHeaders headers, Principal principal{{/isListContainer}}