{{#isPathParam}}{{#useBeanValidation}}{{>beanValidationPathParams}}{{/useBeanValidation}}@PathVariable {{#isCommonsValidation}}
    @{{commonsValidationClass}}(message = "invalid data provided for field: {{paramName}}"){{/isCommonsValidation}}{{{dataType}}} {{paramName}}{{/isPathParam}}