{{#isPathParam}}{{#useBeanValidation}}{{>beanValidationPathParams}}{{/useBeanValidation}}@PathVariable {{#isCurrencyCode}}
    @ValidCurrencyCode(message = "invalid currency code provided for field: {{paramName}}"){{/isCurrencyCode}} {{{dataType}}} {{paramName}}{{/isPathParam}}