{{#isRestfulCreate}}ResponseEntity.created(URI.create("{{{path}}}/1")).build(){{/isRestfulCreate}}{{^isRestfulCreate}}{{#returnContainer}}{{#isMapContainer}}Map<String, {{{returnType}}}>{{/isMapContainer}}{{#isListContainer}}randomListOf(5, {{{returnType}}}.class){{/isListContainer}}{{/returnContainer}}{{^returnContainer}}random({{{returnType}}}.class){{/returnContainer}}{{/isRestfulCreate}}