{{#isRestfulCreate}}ResponseEntity.created(URI.create("{{{pathForDelegate}}}")).build(){{/isRestfulCreate}}{{^isRestfulCreate}}{{#returnContainer}}{{#isMapContainer}}Map<String, {{{returnType}}}>{{/isMapContainer}}{{#isListContainer}}{{payloadClassCasting}} randomStreamOf(5, {{returnType}}.class).collect({{payloadClassCollector}}){{/isListContainer}}{{/returnContainer}}{{^returnContainer}}random({{{returnType}}}.class){{/returnContainer}}{{/isRestfulCreate}}