{{#isRestfulCreate}}ResponseEntity<{{/isRestfulCreate}}{{#returnContainer}}{{#isMapContainer}}Map<String, {{{returnType}}}>{{/isMapContainer}}{{#isListContainer}}List<{{{returnType}}}>{{/isListContainer}}{{/returnContainer}}{{^returnContainer}}{{{returnType}}}{{#isRestfulCreate}}>{{/isRestfulCreate}}{{/returnContainer}}