{{#isRestfulCreate}}ResponseEntity<{{/isRestfulCreate}}{{#returnContainer}}{{#isMapContainer}}Map<String, {{{returnType}}}>{{/isMapContainer}}{{#isListContainer}}{{payloadClass}}<{{{returnType}}}>{{/isListContainer}}{{/returnContainer}}{{^returnContainer}}{{{returnType}}}{{/returnContainer}}{{#isRestfulCreate}}>{{/isRestfulCreate}}